@font-face {
  font-family: 'Lucida Console';
  src: url("../Lucida.ttf");
}
@font-face {
  font-family: 'Harry';
  src: url("../HarryPlain.otf");
}
@font-face {
  font-family: 'Harry Thin';
  src: url("../HarryThin.otf");
}