@font-face {
  font-family: 'Terminal';
  src: url("../Terminal.ttf");
}
@font-face {
  font-family: 'Harry';
  src: url("../HarryPlain.otf");
}
@font-face {
  font-family: 'Harry Thin';
  src: url("../HarryThin.otf");
}
.loadIconAlter{
  transform-origin: 50% 50%;
  animation: loadIcon 0.5s linear 0s infinite;
}

@keyframes loadIcon {0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}